%nav
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "/" } Reply
    %li
      %a{ href: "/pork" } Pork
    %li
      %a{ href: "/pro" } Pro
%form{ action: "/tweet", method: "post" }
  %select{ name: "to", id: "to" }
    - @users.each do |users|
      - if users.nickname == session["nickname"]
        %option{ value: "@#{users.nickname}", selected: true } @#{users.nickname}
      - else
        %option{ value: "@#{users.nickname}" } @#{users.nickname}
  %textarea.span6{ name: "message", id: "message" }
  %button.btn.btn-info.tweet-submit.loading{ type: "submit" } 鹿 さんがツイート