@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

html {
	font-size: 90%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	z-index: 1;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

textarea {  
  font-size: 140%;
  height: 5em;
}

.container {
  padding: 40px 0;
  z-index: 10;
}

.row {
  margin-bottom: 20px;
}

#header {
  min-height: 80px;
}

#header h1 {
  margin-bottom: 0.2em;
  
  line-height: 1;
}

.tweet-submit {
  width: 100%;
  margin: 0 auto;
  display: block;
}

#preview {
  position: relative;
  width: 510px;
  padding: 30px;
  word-wrap: break-word;
  
  line-height: 1.8;
}

@media screen and (max-width: 1200px){
  #preview {
    width: 400px;
  }
}

@media screen and (max-width: 980px){
  #preview {
    width: 320px;
    padding: 16px;
  }
}

.bubble {
  background-color: #eee;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.bubble:before,
.bubble:after {
  content: "";
  position: absolute;
  left: -18px;
  width: 0;
  height: 0;
}

.bubble:before {
  top: 24px;
  border-bottom: 12px solid #eee;
  border-left: 24px solid transparent;
}

.bubble:after {
  top: 36px;
  border-top: 12px solid #eee;
  border-left: 24px solid transparent;
}

#shikakun {
  width: 72px;
  height: auto;
  margin: 0 12px 0 auto;
  display: block;
  
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#preview {
  margin-bottom: 20px;
}

#ad {
  padding: 20px 0;
}

#ad figcaption {
  padding: 20px 0;
}

#ad figcaption h3 {
  margin-bottom: 10px;
  
  font-weight: normal;
}

#ad figcaption a {
  color: #0099fa;
}

#users {
  position: relative;
}

#users h3 {
  position: absolute;
  top: -46px;
  left: 0;
  height: 40px;
  padding: 0 20px;
  
  font-size: 100%;
  font-weight: normal;
  line-height: 40px;
}

#users h3.bubble:after {
  bottom: -12px;
  left: 24px;
  border-top: 12px solid #eee;
  border-right: 18px solid transparent;
}

#users ul {
  margin-left: 0;
}

#users li {
  float: left;
  margin: 0 1em 1em 0;
  display: block;
  
  list-style-type: none;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  
  background-color: rgba(255, 255, 255, 0.75);
}

#loading h1 {
  color: #000;
  line-height: 1;
  text-shadow: 0 0 3px #fff;
}


